

.background{
    /* background-color: #282c34; */
    /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364) !important; */
    /* background: #e7e5e1 !important; */
    background-image: url(bg2.jpg) ;
    /* object-fit: cover; */
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* overflow: hidden; */
    padding: 0%;
}

.bgg{
    margin-top: 6%;
    margin-left: 10%;
    /* width: 40%; */
    /* font-size:1.1rem; */
    /* z-index: 8; */
}

h3{
    margin-top: 20%;
    margin-left: 40%;
    padding-bottom: 0%;
}


.bgtext {
    /* margin-top: 2%; */
    margin-left: 40%;
    width: 40%;
    font-size:1.1rem;
    z-index: 8;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .bgg{
        margin-top: 30%;
    margin-left: 40%;
    }
    h3{
        width: 50%;
        text-align: center;
    }
    .bgtext {
        /* padding-top: 80%; */
      margin: 10% auto;
      width: 50%;
      font-size: 20px;
      text-align: center;
    }
  }
  
  @media (max-width: 480px) {
    h3{
        width: 50%;
        text-align: center;
    }
    .bgtext {
        /* margin-top: 20%; */
      /* margin: 20% auto; */
      width: 90%;
      font-size: 18px;
    }
  }
  

.background2{
    /* background-color: #282c34; */
    background:  whitesmoke !important;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* overflow: hidden; */
    padding: 0%;
}


.toggleBtn{
    height: 10vh;
    align-self:flex-end;
    margin-left: 20%;
}

.tasksContainer{
    margin-left: 20% !important;
}


.modalHeader{
    background: #314e52;
    color: #dad9d7;
    border: 1px solid #dad9d7;
    border-bottom: none;
}

.modalBody{
    background: white;

    color: #0d0000;
    border: 1px solid #dad9d7;
    border-top: none;
}

.modalBodyStatic{
    background: white;
    color: #314e52;
    border: 1px solid #dad9d7;
    border-top: none;
    border-bottom: none;
}


.modalFooter{
    background: white;
    color: #314e52;
    border: 1px solid #dad9d7;
    border-top: none;
}




.modalBody::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}
  
.modalBody::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}
  
.modalBody::-webkit-scrollbar-thumb {
    background-color: #314e52;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #dad9d7;  /* creates padding around scroll thumb */
}




.modalBodyStatic::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}
  
.modalBodyStatic::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}
  
.modalBodyStatic::-webkit-scrollbar-thumb {
    background-color: #314e52;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #dad9d7;  /* creates padding around scroll thumb */
}