

.background{
    /* background-color: #282c34; */
    /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364) !important; */
    /* background: #e7e5e1 !important; */
    background-image: url(C:\Users\Charu\Desktop\Project_Board-main\canvadesign.png) ;
    /* object-fit: cover; */
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* overflow: hidden; */
    padding: 0%;
}


.background2{
    /* background-color: #282c34; */
    background:  whitesmoke !important;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* overflow: hidden; */
    padding: 0%;
}


.toggleBtn{
    height: 10vh;
    align-self:flex-end;
    margin-left: 20%;
}

.tasksContainer{
    margin-left: 20% !important;
}


.modalHeader{
    background: #314e52;
    color: #dad9d7;
    border: 1px solid #dad9d7;
    border-bottom: none;
}

.modalBody{
    background: white;

    color: #0d0000;
    border: 1px solid #dad9d7;
    border-top: none;
}

.modalBodyStatic{
    background: white;
    color: #314e52;
    border: 1px solid #dad9d7;
    border-top: none;
    border-bottom: none;
}


.modalFooter{
    background: white;
    color: #314e52;
    border: 1px solid #dad9d7;
    border-top: none;
}




.modalBody::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}
  
.modalBody::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}
  
.modalBody::-webkit-scrollbar-thumb {
    background-color: #314e52;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #dad9d7;  /* creates padding around scroll thumb */
}




.modalBodyStatic::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}
  
.modalBodyStatic::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}
  
.modalBodyStatic::-webkit-scrollbar-thumb {
    background-color: #314e52;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #dad9d7;  /* creates padding around scroll thumb */
}