.signInCont{
    background-color: transparent;
    color: #314e52;
    width: 30rem;
    margin-top: 3%;
}


.googleBtnCont{
    background-color: transparent;
    color: #314e52;
}

.signinFormCont{
    background-color: transparent;
    color: #314e52;
}

.headingCont{
    color: #314e52;
    text-align: center;
}

.orCont{
    background-color: transparent;
    color: #314e52;
}

.orTxt{
    display: flex;
    flex-direction: row;
}
.orTxt:before, .orTxt:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}
.orTxt:before {
    margin-right: 10px
}
.orTxt:after {
    margin-left: 10px
}



.formSignInBtn{
    cursor: pointer;
    background-color: #314e52 !important;
    color: rgb(255, 255, 255);
    border: 1px solid #314e52;
    border-radius: 10px 10px 10px 10px !important;
    width: 100%;
}


.formSignInBtn:hover{
    background-color: #314e52;
    box-shadow: 0px 0px 5px 1px #314e52; 
    border: 1px solid #314e52;
    color: rgb(255, 254, 254);
}
  
.formSignInBtn:focus{
    background-color: #314e52;
    box-shadow: 0px 0px 5px 1px #314e52;
    border: 1px solid #314e52;
    color: rgb(255, 255, 255);
}


.signUpTxt{
    cursor: pointer;
    color: #314e52;
    text-decoration: underline;
}

.signUpTxt:hover{
    color: #f09204;
}

