.messagesModel{
    font-weight: bold;
    text-decoration: solid;
}


.profileMessages{
    background-color: transparent;
    color: #314e52;
    border: 1px solid #dad9d7;
    border-radius: 10px 10px 10px 10px !important;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.63); 
    cursor: pointer;
    text-align: center;
}


.profileMessages:hover{
    border: 1px solid #314e52;
    box-shadow: 0px 0px 10px 1px #314e52;
    cursor: pointer;
}


.modalBodyMsg{
    background: whitesmoke;
    color: #314e52;
    border: 1px solid #dad9d7;
    border-top: none;
    border-bottom: none;
    height: 70vh;
    overflow-y: scroll;
}

/* .msgCont{
    background-color: transparent;
    border: 1px solid red;
    overflow: auto;
} */



.myMsgs{
    background-color: transparent;
    padding: 15px 0px 15px 0px;
    align-self: flex-end;
    border: none;
    width: 80%;
}

.otherMsgs{
    background-color: transparent;
    padding: 15px 20px 15px 0px;
    align-self: flex-start;  
    border: none;
    width: 80%;  
}

.msgtxt{
    /* font-style: italic; */
    border: 1px solid #314e52;
    color: whitesmoke;
    border-radius: 10px 10px 10px 10px ;
    margin: 0%;
    padding: 7px 7px 7px 7px;
    background-color: #a3a5a5;
}


.refreshBtn{
    background-color: #314e52;
    border: #314e52;
    color: black;
    margin-left: 40%;
}

.refreshBtn:hover{
    background-color: #314e52;
    box-shadow: 0px 0px 10px 1px #314e52; 
    border: #314e52;
    color: rgb(255, 255, 255);
}
  
.refreshBtn:focus{
    background-color: #314e52;
    box-shadow: 0px 0px 10px 1px #314e52;
    border: #314e52;
    color: rgb(255, 255, 255);
}

.refreshIcon{
    padding-top: 5px;
    color: rgb(255, 255, 255);
}









