
.submitBtn{
  /* border: 2px solid red !important; */
  background-color: #314e52;
  border: #314e52;
  margin-left: 45%;
  margin-right: 50%;
  color: rgb(252, 252, 252);
}

.submitBtn:hover{
  background-color: #314e52;
  box-shadow: 0px 0px 2px 1px #314e52; 
  color: rgb(255, 255, 255);
}

.submitBtn:focus{
  background-color: #314e52;
  box-shadow: 0px 0px 2px 1px #314e52;
  border: #314e52;
  color: rgb(255, 255, 255);
}


.updateBtn{
  background-color: #314e52;
  border: #314e52;
  width: 100%;
  color: rgb(255, 253, 253) ;
}


.updateBtn:hover{
  background-color: #314e52;
  box-shadow: 0px 0px 2px 1px #314e52; 
  color: rgb(255, 255, 255) ;
}

.updateBtn:focus{
  background-color: #314e52;
  box-shadow: 0px 0px 2px 1px #314e52;
  border: #314e52;
  color: rgb(255, 255, 255) ;
}

.addCatBadge{
  cursor: pointer;
  float: right;
  background-color: #314e52;
  border: #314e52;
  margin-top: -8px;
  color: rgb(255, 255, 255);
}


.addCatBadge:hover{
  background-color: #314e52;
  box-shadow: 0px 0px 2px 1px #314e52; 
  border: #314e52;
  color: rgb(255, 255, 255);
}

.addCatBadge:focus{
  background-color: #314e52;
  box-shadow: 0px 0px 2px 1px #314e52;
  border: #314e52;
  color: rgb(255, 255, 255);
}

.categoryBtn{
  background-color: #314e52;
  border: #314e52;
  color: black;
}

.categoryBtn:hover{
  background-color: #314e52;
  box-shadow: 0px 0px 2px 1px #314e52; 
  border: #314e52;
  color: rgb(255, 255, 255);
}

.categoryBtn:focus{
  background-color: #314e52;
  box-shadow: 0px 0px 2px 1px #314e52;
  border: #314e52;
  color: rgb(255, 255, 255);
}



.trashBtn{
  color: #314e52 !important;
  float: right !important;
  cursor: pointer;

}

.trashBtn:hover{
  box-shadow: 0px 0px 2px 1px #314e52;
}


.formInput{
  background-color: transparent;
  color: #314e52;
  border-radius: 2px 2px 2px 2px ;
}


.formInput:focus{
  background-color: transparent;
  border-radius: 2px 2px 2px 2px ;
  box-shadow: 0px 0px 2px 1px #000000;
  border: #314e52;
  color: #314e52;
}

.listOption{
  /* cursor: pointer; */
  background-color: #dad9d7 !important;
  color: #314e52;
}

/* .modalHeader {
  color: white ;
} */

/* .saveBtn {
  background-color: #314e52;
  color: white;
} */
