.todoModel{
    /* color: black; */
    text-decoration: solid;
}

.todosList{
    /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364); */
    background-color: transparent;
    color:#314e52;
}
 

.todosContainer{

    border-top:1px solid #dad9d7 ;
    margin-top: 5%;
    margin-left: 0% !important;
}

.todoOffCanvas{
    background: white;
    color: #314e52;
}

.badgeList{
    background-color: transparent !important;
    color: #7e8c8f;
}

.cursor-pointer {
    cursor: pointer;
  }
  